In [1]:
import pandas as pd

In [37]:
green_tripdata = pd.read_parquet('green_tripdata_2025-11.parquet')
green_tripdata.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [46]:
green_tripdata.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [38]:
trip_filter = (green_tripdata['lpep_pickup_datetime'] >= '2025-11-01') & (green_tripdata['lpep_pickup_datetime'] < '2025-12-01') & (green_tripdata['trip_distance'] <= 1)
green_tripdata[filter_data]['VendorID'].count()

8007

In [39]:
green_tripdata[green_tripdata['trip_distance'] < 100][['lpep_pickup_datetime', 'trip_distance']].sort_values(['trip_distance', 'lpep_pickup_datetime'], ascending=False)

      lpep_pickup_datetime  trip_distance
18867  2025-11-14 15:36:27          88.03
27301  2025-11-20 12:28:02          73.84
31551  2025-11-23 10:12:18          45.26
30104  2025-11-22 02:07:07          40.16
20258  2025-11-15 14:12:35          39.81
...                    ...            ...
61     2025-11-01 00:35:05           0.00
26     2025-11-01 00:34:24           0.00
56     2025-11-01 00:32:11           0.00
14     2025-11-01 00:05:40           0.00
11     2025-11-01 00:02:26           0.00

[46891 rows x 2 columns]

In [25]:
taxi_zone = pd.read_csv('taxi_zone_lookup.csv')
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [43]:
green_tripdata['PULocationID'].nunique()

233

In [45]:
taxi_zone['LocationID'].nunique()

265

In [61]:
filtered_df = green_tripdata[green_tripdata['lpep_pickup_datetime'].dt.strftime('%Y-%m-%d') == '2025-11-18']
filtered_df['PULocationID'].value_counts()

PULocationID
74     434
75     298
43     104
166     88
95      72
      ...
265      1
21       1
81       1
32       1
147      1
Name: count, Length: 137, dtype: int64

In [64]:
taxi_zone[taxi_zone['LocationID'] == 74][['LocationID', 'Zone']]

    LocationID               Zone
73          74  East Harlem North

In [67]:
green_tripdata[green_tripdata['PULocationID'] == 74][['DOLocationID', 'tip_amount']].sort_values('tip_amount', ascending=False)

       DOLocationID  tip_amount
40883           263       81.89
31744           138       50.00
38851            74       45.00
32603           146       34.25
20175           265       28.90
...             ...         ...
14856            74        0.00
24871           152        0.00
32332           239        0.00
14826           152        0.00
15224            75        0.00

[12049 rows x 2 columns]

In [68]:
taxi_zone[taxi_zone['LocationID'] == 263][['LocationID', 'Zone']]

     LocationID            Zone
262         263  Yorkville West